@import url('https://fonts.googleapis.com/css?family=Poppins:600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css');

:root {
  --primary: #ff52bf;
  --neutral1: #ebfbff;
  --neutral2: #00252e;
  --neutral3: #808d99;
}

html {
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

p,
span,
a,
button {
  font-family: 'Open Sans', sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img.header-logo {
  width: 100px;
}

.header-button {
  padding: 5px 25px;
  border: none;
  border-radius: 25px;
  font-weight: 700;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  font-size: 0.6rem;
}
.header-button:hover {
  background: black;
  color: white;
  cursor: pointer;
}
.header-button:focus {
  outline: none;
}

div.hero {
  padding: 20px 10px;
  background-color: var(--neutral1);
  background-image: url('./images/bg-hero-mobile.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.title {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.7;
  color: var(--neutral2);
}

.hero-text {
  margin: 0 auto;
  width: 85%;
  color: var(--neutral2);
  font-size: 0.8rem;
  line-height: 1.7;
}

button.cta {
  padding: 15px 50px;
  border: 1px solid transparent;
  font-size: 0.7rem;
  border-radius: 35px;
  font-weight: 700;
  background: var(--primary);
  color: white;
  opacity: 0.8;
}
button.cta:hover {
  border: 1px solid var(--primary);
  color: var(--primary);
  background: white;
  cursor: pointer;
}

button.cta:focus {
  outline: none;
}

img.mockups {
  width: 80%;
}

.mt-5 {
  margin-top: 5rem;
}
.mt-4 {
  margin-top: 4rem;
}
.mt-3 {
  margin-top: 3rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-1 {
  margin-top: 1rem;
}

.mb-5 {
  margin-bottom: 5rem;
}
.mb-4 {
  margin-bottom: 4rem;
}
.mb-3 {
  margin-bottom: 3rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-1 {
  margin-bottom: 1rem;
}

.card {
  text-align: center;
  margin: 20px auto;
  padding: 10px;
  max-width: 85%;
  border-radius: 15px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
.card-title {
  font-size: 1rem;
  color: var(--neutral2);
}

.card-text {
  color: var(--neutral3);
  font-size: 0.8rem;
  line-height: 1.7;
  opacity: 0.7;
}

.bottom-section {
  padding: 25px 15px;
  background-color: var(--neutral2);
  color: white;
}

.bottom-logo {
  width: 150px;
}

.location,
.email,
.phone {
  font-size: 0.8rem;
  line-height: 1.7;
}

.location::before {
  content: '';
  width: 20px;
  height: 20px;
  float: left;
  display: block;
  margin: 0 20px 0 0;
  background: url('./images/icon-location.svg') no-repeat;
}

.phone::before {
  content: '';
  width: 20px;
  height: 20px;
  float: left;
  display: block;
  margin: 0 20px 0 0;
  background: url('./images/icon-phone.svg') no-repeat;
}

.email::before {
  content: '';
  width: 20px;
  height: 20px;
  float: left;
  display: block;
  margin: 0 20px 0 0;
  background: url('./images/icon-email.svg') no-repeat;
}

.social {
  width: 100%;
  text-align: center;
}

.social i {
  border: 1px solid white;
  width: 25px;
  height: 25px;
  padding: 10px;
  font-size: 20px;
  border-radius: 50%;
  margin: 0 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.social i:hover {
  border: 1px solid var(--primary);
  color: var(--primary);
  cursor: pointer;
}

.social i:focus {
  outline: none;
}

p.copy {
  font-size: 0.6rem;
  text-align: center;
}

div.cta-bottom {
  background: white;
  position: relative;
  top: 100px;
  z-index: 999;
}

@media (min-width: 768px) {
  header {
    padding: 20px 50px;
  }

  img.header-logo {
    width: 180px;
  }

  .header-button {
    padding: 5px 25px;
    border: none;
    border-radius: 25px;
    font-weight: 700;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    font-size: 1rem;
  }

  div.hero {
    min-height: 70vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 'panel-left panel-right';
    align-items: center;
  }

  .panel-left {
    grid-area: panel-left;
    text-align: left;
  }

  .panel-right {
    grid-area: panel-right;
  }

  div.grow-card {
    min-height: 40vh;
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-areas: 'left right';
    align-items: center;
  }

  .grow-left {
    grid-area: left;
    text-align: left;
    padding: 0 80px;
  }

  .grow-right {
    grid-area: right;
  }
  div.flowing-card {
    min-height: 40vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 'flowing-left flowing-right';
    align-items: center;
  }

  .flowing-left {
    grid-area: flowing-left;
  }

  .flowing-right {
    padding: 0 80px;
    text-align: left;
    grid-area: flowing-right;
  }
  div.users-card {
    min-height: 40vh;
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-areas: 'users-left users-right';
    align-items: center;
  }

  .users-left {
    grid-area: users-left;
    text-align: left;
    padding: 0 80px;
  }

  .users-right {
    grid-area: users-right;
  }
  header {
    position: absolute;
    width: 90vw;
  }
  .title {
    font-size: 2rem;
    padding-left: 50px;
    width: 80%;
  }

  button.cta {
    margin-left: 50px;
  }

  div.cta-bottom {
    width: 50%;
  }

  .bottom-section {
    min-height: 50vh;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas: 'bottom1 bottom2 bottom3 bottom4';
    align-items: center;
  }
  .bottom1 {
    grid-area: bottom1;
    padding: 0 20px;
  }
  .bottom2 {
    grid-area: bottom2;
    padding: 0 20px;
    margin-top: -2rem;
  }
  .bottom3 {
    grid-area: bottom3;
    padding: 0 20px;
  }
  .bottom4 {
    grid-area: bottom4;
    padding: 0 20px;
  }
  .bottom4 .social {
    margin-bottom: 5rem;
  }
}
